form {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  padding: 24px;
  /* max-height: 80vh; */
  border-radius: 24px;

  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

h1 {
  text-align: center;
  font-size: 32px;
}

label {
  display: flex;
  flex-direction: column;
}

label > p {
  margin: 0 0 4px;
  font-size: 12px;
  color: #63707e;
}

input,
textarea {
  padding: 12px 16px;
  font-size: 14px;
  width: 500px;
  line-height: 24px;
  /* height: 48px; */
  background-color: transparent;

  border: 1px solid #dde3e9;

  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

  font-family: 'Montserrat';
}

input:hover,
textarea:hover {
  border: 1px solid #8abfff;
  outline: none;
}

input:focus,
textarea:focus {
  border: 2px solid #2b8cff;
  margin: -1px;
  outline: none;
}

input[type='date'] {
  color: grey;
}
